
<div class="mt-4 mb-3 mr-4">
  <div class="card rounded shadow-sm p-3">
    <div class="d-flex">
      <div class="flex-fill pr-3">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro: </div>
          </div>
          <input type="text"
          class="form-control col-2"
          placeholder="Pesquisar" [(ngModel)]="filtroLista">
        </div>
      </div>
      <div>
        <a class="d-flex btn btn-secondary" routerLink="/admin/modelo/detalhe">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">&nbsp;Novo</b>
        </a>
      </div>
    </div>

    <!-- <h3>Filtro: {{filtroLista}}</h3> -->
    <table class="table table-striped mt-2">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Modelo</th>
          <th>MarcaId</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="modelos && modelos.length">
        <tr *ngFor="let modelo of modelosFiltrados">
          <td>{{modelo.modeloId}}</td>
          <td>{{modelo.modeloNome}}</td>
          <td>{{modelo.marcaId}}</td>
          <td>
            <button type="button"
              class="btn btn-primary mt-3 mx-2"
              tooltip="Editar" (click)="detalheModelo(modelo.modeloId)">
              <i class="fas fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger mt-3"
              tooltip="Excluir" (click)="openModal($event, template, modelo.modeloId)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!modelos.length">
        <tr>
          <td colSpan="8" class="text-center">
            <h5 class="mt-3">Nenhum modelo encontrado!</h5>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>

  <!-- {{eventos | json}} -->
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que quer apagar o modelo de codigo {{this.modeloId}} ?</p>
      <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
  </ng-template>
</div>
