
 <!-- Numero de veiculos listados -->
<div class="container">
  <div class="row">
    <div class="card mt-5">
      <div class="card-body text-center">
        <span class="" *ngIf="veiculos && veiculos.length">
          <div>{{veiculos.length}} veiculos encontrados!</div>
        </span>
        <span *ngIf="!veiculos.length">
          Nenhum veiculo encontrado!
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row mb-2 mt-4">
    <div class="col-auto">
      <label class="mt-1">Pesquisar:</label>
    </div>
    <div class="col-auto mb-3">
      <input type="text"
        class="form-control"
        placeholder="Pesquisar" [(ngModel)]="filtroLista" >
    </div>
  </div>
</div>

<!-- Listagem de Veiculos -->
<div class="container mt-5" *ngIf="veiculos && veiculos.length">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-12 mt-3 mb-3" *ngFor="let veiculo of veiculosFiltrados">
      <div class="card" style="background-color: #F6F4F4">
        <img class="card-img-top" [src]="mostraImagem(veiculo.imagemURL)">
        <div class="card-body mt-2">
          <h3 class="card-title mx-2">{{veiculo.marca?.marcaNome}}</h3>
          <h5 class="card-title mx-2">{{veiculo.modelo?.modeloNome}}&nbsp;{{veiculo.versao}}</h5>
          <h6 class="mt-3 mx-2">{{veiculo.ano}}&nbsp;&nbsp;{{veiculo.combustivel}}</h6>
            <h6 class="mt-4 mx-2">{{veiculo.preco}} €</h6>
          <div class="d-flex justify-content-end" >
            <button href="" class="btn btn-danger btn-sm rounded" (click)="detalheVeiculo(veiculo.veiculoId)" role="button" aria-pressed="true">Ver&nbsp;mais</button>
          </div>
        </div>
      </div>
    </div>
  </div>

