
<!-- carousel -->

<carousel>
  <slide>
    <img src="assets/images/front9.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/front10.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/front8.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/front11.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
