<div style="background-image: url('assets/images/back1.jpg');
background-size: cover;
background-position: 100%">
  <div class="container">
    <div class="row">
      <div class="col mt-5">
          <!--Google map-->
          <div id="" class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d689.7943534316843!2d-8.789697870780593!3d40.45566559871007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd23b7791c61f11d%3A0x32922cc393d10a26!2sAutoMore!5e1!3m2!1spt-PT!2spt!4v1607902514178!5m2!1spt-PT!2spt"
              frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>


      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-xl-5 card py-3 mx-3 mb-5">
        <div class="mt-3">
          <h1 class="text-center">Pedido de Informações</h1>
          <h6 class="text-center">Tem alguma questão que nos quer colocar?</h6>
          <h6 class="text-center mb-5">Preencha os campos abaixo e coloque todas as suas dúvidas</h6>
        </div>
        <form [formGroup]="form">
          <div class="form-group mb-3">
            <input type="text" class="form-control"
                  [ngClass]="cssValidator(f.nome)"
                  formControlName="nome" placeholder="*Nome">
            <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
              O nome é obrigatorio!
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="email" class="form-control"
                  [ngClass]="cssValidator(f.email)"
                  formControlName="email" placeholder="*Email">
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">
              O email é obrigatorio!
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="text" class="form-control"
                  [ngClass]="cssValidator(f.telefone)"
                  formControlName="telefone" placeholder="*Telefone">
            <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
              O telefone é obrigatorio!
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="text" class="form-control"
                  [ngClass]="cssValidator(f.mensagem)"
                  formControlName="mensagem" placeholder="*Mensagem">
            <div *ngIf="f.mensagem.errors?.required" class="invalid-feedback">
              A mensagem é obrigatoria!
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" required>
            <label class="form-check-label" for="chk-rgpd">Tomei conhecimento e aceito a <strong><a class="data-protection" href="#" target="_blank">Política&nbsp;de&nbsp;Privacidade</a></strong></label>
          </div>
          <button class="btn btn-block btn-success mt-3 px-4" [disabled]="!form.valid" (click)="guardarContacto()">Enviar</button>
        </form>
      </div>

      <div class="col-12 col-xl-4 mt-1 mx-5">
        <h2 class="text-danger mt-2">
          <i class="fa fa-clock-o text-dark"></i>&nbsp;<strong>Horario</strong>
        </h2>
        <h5 class="mt-3">Seg. a Sex.: 9:00 - 20:00</h5>
        <h5 class="">Sábado: 9:30 - 18:30</h5>
        <h5 class="">Domingo: 09:30 - 18:00</h5>
        <h5 class="mt-5">
          <i class="fa fa-phone"></i>&nbsp;&nbsp;<strong>231472544</strong>
        </h5>
      </div>
    </div>
  </div>
</div>


