
	.map-container{
		overflow:hidden;
		padding-bottom:40%;
		position:relative;
		height:0;
	}
	.map-container iframe{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}

  #btn-s{
    width: 100%;

  }

  #btn-s:hover{
    opacity: 0.8;
  }

  a{
    color: black;
  }
