<div class="mt-5 mb-3 mr-4">
  <div class="card rounded shadow-sm p-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Mensagem</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>mark@gmail.com</td>
          <td>919191919</td>
          <td>O Sport Lisboa e Benfica é um clube multidesportivo
            português fundado em 1904 e sediado na freguesia de São
            Domingos de Benfica, em Lisboa. Foi campeão nacional em 37
            ocasiões e venceu a Liga dos Campeões 2 vezes.
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Jacok@gmail.com</td>
          <td>919191919</td>
          <td>O Sport Lisboa e Benfica é um clube multidesportivo
            português fundado em 1904 e sediado na freguesia de São
            Domingos de Benfica, em Lisboa. Foi campeão nacional em 37
            ocasiões e venceu a Liga dos Campeões 2 vezes.
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>larry@gmail.com</td>
          <td>919191919</td>
          <td>O Sport Lisboa e Benfica é um clube multidesportivo
            português fundado em 1904 e sediado na freguesia de São
            Domingos de Benfica, em Lisboa. Foi campeão nacional em 37
            ocasiões e venceu a Liga dos Campeões 2 vezes.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


