
  <div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-lg btn-secondary me-md-2" routerLink="/veiculos/lista" type="button">
        <i class="fa fa-arrow-left fa-xs"></i>&nbsp;Voltar
      </a>
    </div>
  </div>

  <div class="row mt-5">
    <h2 class="mx-5">
     {{veiculo.marca?.marcaNome}} {{veiculo.modelo?.modeloNome}} {{veiculo.versao}}
    </h2>
  </div>
  <h4 class="d-flex justify-content-end">
    <div>
      {{veiculo.preco}} €
    </div>
  </h4>
  <hr class="container">
  <div class="row">
    <div class="col-lg col-md-12 col-12">

      <!-- carousel -->
      <carousel [showIndicators]="true">
        <slide>
          <img src="assets/images/veiculos/{{veiculo.imagemURL}}" class="d-block w-100">
        </slide>
        <slide>
          <img src="assets/images/front1.jpg" class="d-block w-100">
        </slide>
        <slide>
          <img src="assets/images/front3.jpg" class="d-block w-100">
        </slide>
      </carousel>

    </div>

    <h5 class="col-lg-4 col-md-12 col-12 mt-4 mx-4">

      <div class="mt-2">
        Ano: {{veiculo.ano}}
      </div>
      <hr class="container">
      <div>
        Cor: {{veiculo.cor}}
      </div>
      <hr class="container">
      <div>
        Nº de portas: Portas
      </div>
      <hr class="container">
      <div>
        Transmissão: xxxx
      </div>
      <hr class="container">
      <div>
        Cilindrada:  xxx cm3
      </div>
      <hr class="container">
      <div>
        Potência:  xxx Cv
      </div>
      <hr class="container">
      <div>
        Combustivel: {{veiculo.combustivel}}
      </div>
      <hr class="container mt-3">
  </h5>

</div>
<hr class="container">
<div class="container">
  <div class="row mt-4">
    <div class="col-6">
      <h3 class="mb-2">Observações:</h3>
      <h6 class="">{{veiculo.observacoes}}</h6>
      <h3 class="mt-4 mb-2">Garantia:</h3>
      <h6 class="">1 ano (por mútuo acordo).</h6>
    </div>
  </div>
</div>
