
<div class="card rounded shadow-sm">
  <div class="card-header" style="background-color: #A4A4A4;">
    <h2>Editar dados da Viatura</h2>
  </div>
  <form [formGroup]="form">
    <div class="p-3">
      <div class="row">
        <p>Form value: {{form.value | json}}</p>
        <p>Form status: {{form.status | json}}</p>
        <div class="col-6">
          <div class="form-group">
            <label>Marca</label>


            <select formControlName="marcaId" class="form-control"
            [ngClass]="{ 'is-invalid': f.marcaId.errors && f.marcaId.touched }" [(ngModel)]="veiculo.marcaId">
            <option *ngFor="let marca of marcas" [value]="marca.marcaId" [selected]="marca.marcaId === veiculo.marcaId">
              {{marca.marcaNome}}
            </option>
            </select>
            <div *ngIf="f.marcaId.errors && f.marcaId.touched" class="invalid-feedback">
              <div *ngIf="f.marcaId.errors.required">Marca é obrigatório</div>
            </div>

          </div>


          <div class="form-group mt-2">
            <label>Modelo</label>
            <select formControlName="modeloId" class="form-control"
            [ngClass]="{ 'is-invalid': f.modeloId.errors }" [(ngModel)]="veiculo.modeloId">
            <option *ngFor="let modelo of modelos" [value]="modelo.modeloId" [selected]="modelo.modeloId === veiculo.modeloId">
              {{modelo.modeloNome}}
            </option>
            </select>
            <div *ngIf="f.modeloId.errors" class="invalid-feedback">
              <div *ngIf="f.modeloId.errors.required">Modelo é obrigatório</div>
            </div>
          </div>





          <div class="form-group mt-2">
            <label>Combustivel</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.combustivel.errors && f.combustivel.touched }"
            formControlName="combustivel" placeholder="Insira o combustivel" [(ngModel)]="veiculo.combustivel">
            <div *ngIf="f.combustivel.errors?.required" class="invalid-feedback">
              O combustivel é obrigatorio!
            </div>
          </div>

          <div class="form-group mt-2">
            <label>Observações:</label>
            <textarea [ngClass]="{'is-invalid': f.observacoes.errors && f.observacoes.touched }"
            formControlName="observacoes" rows="8" class="w-100" [(ngModel)]="veiculo.observacoes"></textarea>
            <div *ngIf="f.observacoes.errors?.required" class="invalid-feedback">
              As observações são obrigatorias!
            </div>
          </div>

        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Versão</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.versao.errors && f.versao.touched }"
            formControlName="versao" placeholder="Insira a versão" [(ngModel)]="veiculo.versao">
            <div *ngIf="f.versao.errors?.required" class="invalid-feedback">
              A versão é obrigatoria!
            </div>
          </div>

          <div class="form-group mt-2">
            <label>Ano</label>
            <input type="number" class="form-control"
            [ngClass]="{'is-invalid': f.ano.errors && f.ano.touched }"
            formControlName="ano" placeholder="2020" [(ngModel)]="veiculo.ano">
            <div *ngIf="f.ano.errors?.required" class="invalid-feedback">
              O ano é obrigatorio!
            </div>
          </div>

          <div class="form-group mt-2">
            <label>Cor</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.cor.errors && f.cor.touched }"
            formControlName="cor" placeholder="Insira a Cor" [(ngModel)]="veiculo.cor">
            <div *ngIf="f.cor.errors?.required" class="invalid-feedback">
              A cor é obrigatorio!
            </div>
          </div>

          <div class="form-group mt-2">
            <label>Preço:</label>
            <input type="number" class="form-control"
            [ngClass]="{'is-invalid': f.preco.errors && f.preco.touched }"
            formControlName="preco" placeholder="0" [(ngModel)]="veiculo.preco">
            <div *ngIf="f.preco.errors?.required" class="invalid-feedback">
              O preço é obrigatorio!
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-secondary border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Guardar Veiculo
        </button>
      </div>
    </div>
  </form>
 </div>

 <div class="card rounded shadow-sm mt-3">
  <div class="card-header" style="background-color: #A4A4A4;">
    <h2>Editar Fotos da Viatura</h2>
  </div>
  <form [formGroup]="form">
    <div class="p-3">
      <div class="row">
        <div class="col-6">
          <div class="form-group mt-2">
            <label>Imagem URL</label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.imagemURL.errors && f.imagemURL.touched }"
            formControlName="imagemURL" placeholder="Insira a imagem" [(ngModel)]="veiculo.imagemURL">
            <div *ngIf="f.combustivel.errors?.required" class="invalid-feedback">
              imagemURL é obrigatoria!
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
 </div>

